<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://boxersecure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>boxersecure.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>boxersecure</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$boxersecure</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:boxerdb.database.windows.net,1433;Initial Catalog=boxerdb;User ID=codeflagz@boxerdb;Password=Zaq!@wsx;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:boxerdb.database.windows.net,1433;Database=boxerdb;User ID=codeflagz@boxerdb;Password=Zaq!@wsx;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="bw01.Models.ApplicationDbContext, bw01" MigrationConfiguration="bw01.Migrations.Configuration, bw01" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BW_Model" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=boxerdb.database.windows.net;Initial Catalog=boxerdb;Persist Security Info=True;User ID=codeflagz;Password=Zaq!@wsx;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BW_Model_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=boxerdb.database.windows.net;initial catalog=boxerdb;persist security info=True;user id=codeflagz;password=Zaq!@wsx;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="boxerdb" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataRepository.Models.BW_Model, DataRepository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BlobStorageConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=boxer;AccountKey=cDnS6tf3eB49RysBVZ2a4ZLtSTQjD1tRxh+ajTMePSvDXBU9ef5K4J0cd9MrkGiD2xjmrpAjhGLklX7U+D2cRQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlobStorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=boxer;AccountKey=cDnS6tf3eB49RysBVZ2a4ZLtSTQjD1tRxh+ajTMePSvDXBU9ef5K4J0cd9MrkGiD2xjmrpAjhGLklX7U+D2cRQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlobStorageConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)boxerdb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BW_Model-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:boxerdb.database.windows.net,1433;Database=boxerdb;User ID=codeflagz@boxerdb;Password=Zaq!@wsx;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>